/* nav and stickly class at the same time */

.nav-sticky {
  @extend %nav;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(
    $color-accent-red,
    0.6
  ); /* Semi-transparent red background */
  backdrop-filter: blur(10px); /* Apply blur effect */
  &.sticky {
    position: fixed;
  }
  &__logo {
    height: 3rem;
    cursor: pointer;
    @include QueryFor(Large-Scrn) {
      height: 3.5rem;
    }
  }

  &__search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 40%;
    @include QueryFor(Large-Scrn) {
      flex: 0 0 45%;
    }
    &--input {
      font-family: $p-font;
      font-size: 1.5rem;
      font-weight: 500;
      background-color: $color-Grey--light-2;
      border: none;
      padding: 1.1rem 3rem;
      border-radius: 0.7rem;
      width: 90%;
      margin-right: -4.5rem;
      transition: all 0.2s;
      @include QueryFor(Large-Scrn) {
        padding: 1.3rem 3rem;
      }
      &:focus {
        outline: none;
        width: 100%;
        background-color: $color-Grey--light-3;
      }
    }

    &--btn {
      border: none;
      background-color: $color-Grey--light-2;
      &:focus {
        outline: none;
      }
      &:active {
        transform: translateY(2px);
      }
      &-icon {
        height: 2.7rem;
        width: 2.7rem;
        fill: $color-Grey--dark-1;
      }
    }
    &--input:focus + &--btn {
      background-color: $color-Grey--light-3;
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__icon-box {
    position: relative;
  }

  &__notification {
    position: absolute;
    border-radius: 50%;
    background-color: $color-accent-yellow;
    border: none;
    width: 1.2rem;
    height: 1.2rem;
    right: 12px;
    top: 5px;
    &.hidden {
      display: none;
    }
  }

  &__icon {
    height: 4rem;
    width: 4rem;
    fill: $white;
    background-color: transparent;
    border: 1px solid $white;
    border-radius: 5px;
    margin-right: 1rem;
    padding: 0.3rem;
    cursor: pointer;
    transition: all 0.3s;
    @include QueryFor(Large-Scrn) {
      width: 5rem;
      height: 5rem;
      padding: .5rem;
    }

    &:hover {
      fill: $color-accent-yellow;
      border: 1px solid $color-accent-yellow;
    }
    &:active {
      transform: translateY(3px);
    }
  }
}

.bookmarks {
  position: absolute;
  top: 6rem;
  right: -3rem;
  width: 40rem;
  box-shadow: 0 0.8rem 5rem 2rem rgba($color-Grey--dark, 0.1);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;
  padding: 1rem 0;
  background-color: $white;

  &:hover,
  .nav-sticky__favorite > .nav-sticky__icon-box:hover + &,
  .nav__favorite > .nav__icon-box:hover + & {
    visibility: visible;
    opacity: 1;
  }
  &__list {
    list-style: none;
    background-color: $white;
  }

  &__msg-icon {
    fill: $color-accent-red-light;
    width: 2.5rem;
    height: 3.5rem;
  }
}

.message {
  display: flex;
  align-items: center;
  padding: 2rem;

  & > div {
    padding: 1rem;
    margin-top: -3rem;
  }
}
