.btn {
  @extend %btn;

  padding: 1.5rem 4rem;
  font-size: 1.5rem;
  font-weight: 600;

  svg {
    height: 2.25rem;
    width: 2.25rem;
    fill: currentColor;
  }
}

.btn--small {
  &,
  &:link,
  &:visited {
    @extend %btn;

    font-size: 1.6rem;
    font-weight: 400;
    padding: 1.25rem 2.25rem;
    text-decoration: none;
    letter-spacing: 0.8px;
    svg {
      height: 1.75rem;
      width: 1.75rem;
      fill: currentColor;
    }
  }
}

.btn--inline {
  color: $color-accent-red-lighter;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  background-color: $color-grey-light-1;
  padding: 0.8rem 1.2rem;
  border-radius: 10rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  transition: all 0.2s;

  svg {
    height: 1.6rem;
    width: 1.6rem;
    fill: currentColor;
    margin: 0 0.2rem;
  }

  span {
    margin: 0 0.4rem;
  }

  &:hover {
    color: $color-grad-1;
    background-color: $color-Grey--light-2;
  }

  &:focus {
    outline: none;
  }
}

.btn--round {
  background-color: $color-accent-red-lighter;
  box-shadow: 0 2rem 6rem 0.5rem rgba($color-Grey-dark-01, 0.2);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 4.5rem;
  width: 4.5rem;
  // margin-left: auto;
  transition: all 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;

  &:has(.fullfilled) {
    background-color: $color-Grey--light-1;
  }

  &:hover {
    transform: scale(1.07);
  }

  &:focus {
    outline: none;
  }

  svg {
    height: 3rem;
    width: 3rem;
    fill: $white;

    &.fullfilled {
      fill: $color-accent-red;
    }
  }
}

.btn--tiny {
  height: 2rem;
  width: 2rem;
  border: none;
  background: none;
  cursor: pointer;

  svg {
    height: 100%;
    width: 100%;
    fill: $color-accent-red-lighter;
    transition: all 0.3s;
  }

  &:focus {
    outline: none;
  }

  &:hover svg {
    fill: $color-grad-1;
    transform: translateY(-1px);
  }

  &:active svg {
    fill: $color-grad-1;
    transform: translateY(0);
  }

  &:not(:last-child) {
    margin-right: 0.3rem;
  }
}
