.margin-bottom-small {
  margin-bottom: 2rem;
}

.margin-bottom-medium {
  margin-bottom: 3rem;
}

.margin-bottom-large {
  margin-bottom: 8rem;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
